/*

  Macian.lint

  A stylesheet to lint HTML

  Reference:
  https://bitsofco.de/linting-html-using-css/

*/

/* HTML is missing the language attribute */
/* Unnecessary or deprecated attributes */

html:not([lang]),
html[lang=""],
script[type="text/javascript"],
link[rel="stylesheet"][type="text/css"] {
  background-color: red !important
}

/* Any element containing inline styles */

*[style] {border: 5px solid red}

a:not([href]),
a[href="#"],
a[href=""],
a[href*="javascript:void(0)"] {

}

/* Images without the alt attribute */

img:not([alt]),
img[alt=""] {

}

/* Unlabelled form elements */

input:not([id]),
select:not([id]),
textarea:not([id]) {
}

label:not([for]) {
}

input:not([name]),
select:not([name]),
textarea:not([name]) {
}

form:not([name]):not([id]) {
}

/* Empty interactive elements */

button:empty, a:empty {}
