/*

  Macian

  Josh Avanier
  MIT

*/

@media print {
  @page {size: A4; margin: 1in}

  @page:right {@bottom-right {content: counter(page)}}
  @page:left  {@bottom-left  {content: counter(page)}}

  body {
    width: 100% !important;
    font-size: 12pt;
    line-height: 1.618
  }

  nav, .printhide {display: none}
  footer {page-break-after: always}
  p {page-break-inside: avoid}
}
