/*---
 title: Borders
 section: Base CSS
  ---

 Add a border to all sides of an element with `ba`.

 The basic border classes are `b*` with the second character determining all (`border-style`), top (`border-top-style` etc.), right, bottom, and left: `ba`, `bt`, `br`, `bb`, and `bl` in order.

 Border style for dotted, dashed, solid, and none are `bso`, `bsd`, `bss`, and `bn` in order.

 Border radius can be set with `.br*` where `*` is a number from 0-6, or `brf` for 100% border radius.

 Border width can be set with `.bw*` where `*` is a number from 0-5.

 Border width can be set to 0 for individual sides via `b*-0` where `*` is one of `t`, `r`, `b`, or `l`;

 Most of these classes have responsive versions by appending `-s`, `-m`, or `-l` to them, though not all.

 ```html
 <p class="ba br4 bw3">This paragraph has a relatively thick border with rounded corners.</p>
 <p class="bso bw1">This paragraph is bordered with a thin, dotted line.</p>
 <p class="br-s bl-s bt-m bb-m ba-l bw1-s bw2-m bw3-l">This paragraph is bordered differently at different sizes.</p>
 ```
 */
.ba {border-style:        solid; border-width:        .125em}
.bt {border-top-style:    solid; border-top-width:    .125em}
.br {border-right-style:  solid; border-right-width:  .125em}
.bb {border-bottom-style: solid; border-bottom-width: .125em}
.bl {border-left-style:   solid; border-left-width:   .125em}

.bso {border-style: dotted}
.bsd {border-style: dashed}
.bss {border-style: solid}

.bn, .bn th, .bn td {border-style: none; border-width: 0}

.br0 {border-radius:        0} .br1 {border-radius:  .7862em}
.br2 {border-radius:      1em} .br3 {border-radius:  1.272em}
.br4 {border-radius:  1.618em} .br5 {border-radius: 2.0581em}
.br6 {border-radius: 2.6179em} .brf {border-radius:     100%}

.bw0 {border-width:     0} .bw1 {border-width: .125em}
.bw2 {border-width: .25em} .bw3 {border-width:   .5em}
.bw4 {border-width:   1em} .bw5 {border-width:    2em}

.bt-0 {border-top-width:    0} .br-0 {border-right-width: 0}
.bb-0 {border-bottom-width: 0} .bl-0 {border-left-width:  0}

@media screen and (max-width: 30em) {

  .ba-s {border-style:        solid; border-width:        .125em}
  .bt-s {border-top-style:    solid; border-top-width:    .125em}
  .br-s {border-right-style:  solid; border-right-width:  .125em}
  .bb-s {border-bottom-style: solid; border-bottom-width: .125em}
  .bl-s {border-left-style:   solid; border-left-width:   .125em}

  .bn-s, .bn-s th, .bn-s td {border-style: none; border-width: 0}

  .bw0-s {border-width:     0} .bw1-s {border-width: .125em}
  .bw2-s {border-width: .25em} .bw3-s {border-width:   .5em}
  .bw4-s {border-width:   1em} .bw5-s {border-width:    2em}

}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .ba-m {border-style:        solid; border-width:        .125em}
  .bt-m {border-top-style:    solid; border-top-width:    .125em}
  .br-m {border-right-style:  solid; border-right-width:  .125em}
  .bb-m {border-bottom-style: solid; border-bottom-width: .125em}
  .bl-m {border-left-style:   solid; border-left-width:   .125em}

  .bn-m, .bn-m th, .bn-m td {border-style: none; border-width: 0}

  .bw0-m {border-width:     0} .bw1-m {border-width: .125em}
  .bw2-m {border-width: .25em} .bw3-m {border-width:   .5em}
  .bw4-m {border-width:   1em} .bw5-m {border-width:    2em}

}

@media screen and (min-width: 60em) {

  .ba-l {border-style:        solid; border-width:        .125em}
  .bt-l {border-top-style:    solid; border-top-width:    .125em}
  .br-l {border-right-style:  solid; border-right-width:  .125em}
  .bb-l {border-bottom-style: solid; border-bottom-width: .125em}
  .bl-l {border-left-style:   solid; border-left-width:   .125em}

  .bn-l, .bn-l th, .bn-l td {border-style: none; border-width: 0}

  .bw0-l {border-width:     0} .bw1-l {border-width: .125em}
  .bw2-l {border-width: .25em} .bw3-l {border-width:   .5em}
  .bw4-l {border-width:   1em} .bw5-l {border-width:    2em}

}
