/*

  Macian: Borders

  Josh Avanier

*/

.ba {border-style: solid; border-width: 0.1618em}
.bt {border-top-style: solid; border-top-width: 0.1618em}
.br {border-right-style: solid; border-right-width: 0.1618em}
.bb {border-bottom-style: solid; border-bottom-width: 0.1618em}
.bl {border-left-style: solid; border-left-width: 0.1618em}

.bdot {border-style: dotted}
.bdsh {border-style: dashed}
.bsol {border-style: solid}
.bn, table.bn th, table.bn td {border-style: none; border-width: 0}

.br0 {border-radius: 0}
.br1 {border-radius: .125em}
.br2 {border-radius: .25em}
.br3 {border-radius: .5em}
.br4 {border-radius: 1em}

.br-100 {border-radius: 100%} .br-p {border-radius: 9999px}

.br--b {border-top-left-radius: 0; border-top-right-radius: 0}
.br--t {border-bottom-left-radius: 0; border-bottom-right-radius: 0}
.br--r {border-top-left-radius: 0; border-bottom-left-radius: 0}
.br--l {border-top-right-radius: 0; border-bottom-right-radius: 0}

.bw0 {border-width: 0}
.bw1 {border-width: .125em}
.bw2 {border-width: .25em}
.bw3 {border-width: .5em}
.bw4 {border-width: 1em}
.bw5 {border-width: 2em}

.bt-0 {border-top-width: 0}
.br-0 {border-right-width: 0}
.bb-0 {border-bottom-width: 0}
.bl-0 {border-left-width: 0}

@media screen and (min-width: 30em) {
  .ba-s {border-style: solid; border-width: 0.1618em}
  .bt-s {border-top-style: solid; border-top-width: 0.1618em}
  .br-s {border-right-style: solid; border-right-width: 0.1618em}
  .bb-s {border-bottom-style: solid; border-bottom-width: 0.1618em}
  .bl-s {border-left-style: solid; border-left-width: 0.1618em}
  .bdot-s {border-style: dotted}
  .bdsh-s {border-style: dashed}
  .bsol-s {border-style: solid}
  .bn-s, table.bn-s th, table.bn-s td {border-style: none; border-width: 0}
  .br0-s {border-radius: 0}
  .br1-s {border-radius: .125em}
  .br2-s {border-radius: .25em}
  .br3-s {border-radius: .5em}
  .br4-s {border-radius: 1em}
  .br-100-s {border-radius: 100%} .br-p-s {border-radius: 9999px}
  .br--b-s {border-top-left-radius: 0; border-top-right-radius: 0}
  .br--t-s {border-bottom-left-radius: 0; border-bottom-right-radius: 0}
  .br--r-s {border-top-left-radius: 0; border-bottom-left-radius: 0}
  .br--l-s {border-top-right-radius: 0; border-bottom-right-radius: 0}
  .bw0-s {border-width: 0}
  .bw1-s {border-width: .125em}
  .bw2-s {border-width: .25em}
  .bw3-s {border-width: .5em}
  .bw4-s {border-width: 1em}
  .bw5-s {border-width: 2em}
  .bt-0-s {border-top-width: 0}
  .br-0-s {border-right-width: 0}
  .bb-0-s {border-bottom-width: 0}
  .bl-0-s {border-left-width: 0}
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .ba-m {border-style: solid; border-width: 0.1618em}
  .bt-m {border-top-style: solid; border-top-width: 0.1618em}
  .br-m {border-right-style: solid; border-right-width: 0.1618em}
  .bb-m {border-bottom-style: solid; border-bottom-width: 0.1618em}
  .bl-m {border-left-style: solid; border-left-width: 0.1618em}
  .bdot-m {border-style: dotted}
  .bdsh-m {border-style: dashed}
  .bsol-m {border-style: solid}
  .bn-m, table.bn-m th, table.bn-m td {border-style: none; border-width: 0}
  .br0-m {border-radius: 0}
  .br1-m {border-radius: .125em}
  .br2-m {border-radius: .25em}
  .br3-m {border-radius: .5em}
  .br4-m {border-radius: 1em}
  .br-100-m {border-radius: 100%}
  .br-p-m {border-radius: 9999px}
  .br--b-m {border-top-left-radius: 0; border-top-right-radius: 0}
  .br--t-m {border-bottom-left-radius: 0; border-bottom-right-radius: 0}
  .br--r-m {border-top-left-radius: 0; border-bottom-left-radius: 0}
  .br--l-m {border-top-right-radius: 0; border-bottom-right-radius: 0}
  .bw0-m {border-width: 0}
  .bw1-m {border-width: .125em}
  .bw2-m {border-width: .25em}
  .bw3-m {border-width: .5em}
  .bw4-m {border-width: 1em}
  .bw5-m {border-width: 2em}
  .bt-0-m {border-top-width: 0}
  .br-0-m {border-right-width: 0}
  .bb-0-m {border-bottom-width: 0}
  .bl-0-m {border-left-width: 0}
}

@media screen and (min-width: 60em) {
  .ba-l {border-style: solid; border-width: 0.1618em}
  .bt-l {border-top-style: solid; border-top-width: 0.1618em}
  .br-l {border-right-style: solid; border-right-width: 0.1618em}
  .bb-l {border-bottom-style: solid; border-bottom-width: 0.1618em}
  .bl-l {border-left-style: solid; border-left-width: 0.1618em}
  .bdot-l {border-style: dotted}
  .bdsh-l {border-style: dashed}
  .bsol-l {border-style: solid}
  .bn-l, table.bn-l th, table.bn-l td {border-style: none; border-width: 0}
  .br0-l {border-radius: 0}
  .br1-l {border-radius: .125em}
  .br2-l {border-radius: .25em}
  .br3-l {border-radius: .5em}
  .br4-l {border-radius: 1em}
  .br-100-l {border-radius: 100%}
  .br-p-l {border-radius: 9999px}
  .br--b-l {border-top-left-radius: 0; border-top-right-radius: 0}
  .br--t-l {border-bottom-left-radius: 0; border-bottom-right-radius: 0}
  .br--r-l {border-top-left-radius: 0; border-bottom-left-radius: 0}
  .br--l-l {border-top-right-radius: 0; border-bottom-right-radius: 0}
  .bw0-l {border-width: 0}
  .bw1-l {border-width: .125em}
  .bw2-l {border-width: .25em}
  .bw3-l {border-width: .5em}
  .bw4-l {border-width: 1em}
  .bw5-l {border-width: 2em}
  .bt-0-l {border-top-width: 0}
  .br-0-l {border-right-width: 0}
  .bb-0-l {border-bottom-width: 0}
  .bl-0-l {border-left-width: 0}
}
