/*

  Macian.misc

  Josh Avanier
  MIT

*/

.cover   {background-size:   cover !important}
.contain {background-size: contain !important}

details,summary {outline: none}

.oa  {overflow: auto}      .oxa {overflow-x: auto}
.oya {overflow-y: auto}    .ov  {overflow: visible}
.oxv {overflow-x: visible} .oyv {overflow-y: visible}
.oh  {overflow: hidden}    .oxh {overflow-x: hidden}
.oyh {overflow-y: hidden}  .os  {overflow: scroll}
.oxs {overflow-x: scroll}  .oys {overflow-y: scroll}

.cn {margin-left: auto;margin-right: auto}

.vl {vertical-align: baseline} .vm {vertical-align: middle}
.vt {vertical-align: top}      .vb {vertical-align: bottom}

@media screen and (min-width: 30em) {

  .cover-s   {background-size: cover   !important}
  .contain-s {background-size: contain !important}

  .oa-s  {overflow: auto}      .oxa-s {overflow-x: auto}
  .oya-s {overflow-y: auto}    .ov-s  {overflow: visible}
  .oxv-s {overflow-x: visible} .oyv-s {overflow-y: visible}
  .oh-s  {overflow: hidden}    .oxh-s {overflow-x: hidden}
  .oyh-s {overflow-y: hidden}  .os-s  {overflow: scroll}
  .oxs-s {overflow-x: scroll}  .oys-s {overflow-y: scroll}

  .cn-s {margin-left: auto; margin-right: auto}

  .vl-s {vertical-align: baseline} .vm-s {vertical-align: middle}
  .vt-s {vertical-align: top}      .vb-s {vertical-align: bottom}

}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .cover-m   {background-size: cover   !important}
  .contain-m {background-size: contain !important}

  .oa-m  {overflow: auto}      .oxa-m {overflow-x: auto}
  .oya-m {overflow-y: auto}    .ov-m  {overflow: visible}
  .oxv-m {overflow-x: visible} .oyv-m {overflow-y: visible}
  .oh-m  {overflow: hidden}    .oxh-m {overflow-x: hidden}
  .oyh-m {overflow-y: hidden}  .os-m  {overflow: scroll}
  .oxs-m {overflow-x: scroll}  .oys-m {overflow-y: scroll}

  .cn-m {margin-left: auto; margin-right: auto}

  .vl-m {vertical-align: baseline} .vm-m {vertical-align: middle}
  .vt-m {vertical-align: top}      .vb-m {vertical-align: bottom}

}

@media screen and (min-width: 60em) {

  .cover-l   {background-size: cover   !important}
  .contain-l {background-size: contain !important}

  .oa-l  {overflow: auto}      .oxa-l {overflow-x: auto}
  .oya-l {overflow-y: auto}    .ov-l  {overflow: visible}
  .oxv-l {overflow-x: visible} .oyv-l {overflow-y: visible}
  .oh-l  {overflow: hidden}    .oxh-l {overflow-x: hidden}
  .oyh-l {overflow-y: hidden}  .os-l  {overflow: scroll}
  .oxs-l {overflow-x: scroll}  .oys-l {overflow-y: scroll}

  .cn-l {margin-left: auto;margin-right: auto}

  .vl-l {vertical-align: baseline} .vm-l {vertical-align: middle}
  .vt-l {vertical-align: top}      .vb-l {vertical-align: bottom}

}
