/*

  Macian

  Josh Avanier
  MIT

*/

.dn  {display: none}
.db  {display: block}
.dt  {display: table}
.di  {display: inline}
.dtr {display: table-row}
.dtl {display: table-cell}
.dib {display: inline-block}
.dit {display: inline-table}
.dtc {display: table-column}
.drg {display: table-row-group}
.dcg {display: table-column-group}
.dtf {table-layout: fixed; width: 100%}

.of {opacity:  1} .o9 {opacity: .9}
.o8 {opacity: .8} .o7 {opacity: .7}
.o6 {opacity: .6} .o5 {opacity: .5}
.o4 {opacity: .4} .o3 {opacity: .3}
.o2 {opacity: .2} .o1 {opacity: .1}

.o0 {opacity: 0}

@media screen and (min-width: 30em) {

  .dn-s  {display: none}
  .db-s  {display: block}
  .dt-s  {display: table}
  .di-s  {display: inline}
  .dtr-s {display: table-row}
  .dtl-s {display: table-cell}
  .dib-s {display: inline-block}
  .dit-s {display: inline-table}
  .dtc-s {display: table-column}
  .drg-s {display: table-row-group}
  .dcg-s {display: table-column-group}
  .dtf-s {table-layout: fixed; width: 100%}

  .of-s {opacity:  1} .o9-s {opacity: .9}
  .o8-s {opacity: .8} .o7-s {opacity: .7}
  .o6-s {opacity: .6} .o5-s {opacity: .5}
  .o4-s {opacity: .4} .o3-s {opacity: .3}
  .o2-s {opacity: .2} .o1-s {opacity: .1}

  .o0-s {opacity: 0}

}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .dn-m  {display: none}
  .db-m  {display: block}
  .dt-m  {display: table}
  .di-m  {display: inline}
  .dtr-m {display: table-row}
  .dtl-m {display: table-cell}
  .dib-m {display: inline-block}
  .dit-m {display: inline-table}
  .dtc-m {display: table-column}
  .drg-m {display: table-row-group}
  .dcg-m {display: table-column-group}
  .dtf-m {table-layout: fixed; width: 100%}

  .of-m {opacity:  1} .o9-m {opacity: .9}
  .o8-m {opacity: .8} .o7-m {opacity: .7}
  .o6-m {opacity: .6} .o5-m {opacity: .5}
  .o4-m {opacity: .4} .o3-m {opacity: .3}
  .o2-m {opacity: .2} .o1-m {opacity: .1}

  .o0-m {opacity: 0}

}

@media screen and (min-width: 60em) {

  .dn-l  {display: none}
  .db-l  {display: block}
  .dt-l  {display: table}
  .di-l  {display: inline}
  .dtr-l {display: table-row}
  .dtl-l {display: table-cell}
  .dib-l {display: inline-block}
  .dit-l {display: inline-table}
  .dtc-l {display: table-column}
  .drg-l {display: table-row-group}
  .dcg-l {display: table-column-group}
  .dtf-l {table-layout: fixed; width: 100%}

  .of-l {opacity:  1} .o9-l {opacity: .9}
  .o8-l {opacity: .8} .o7-l {opacity: .7}
  .o6-l {opacity: .6} .o5-l {opacity: .5}
  .o4-l {opacity: .4} .o3-l {opacity: .3}
  .o2-l {opacity: .2} .o1-l {opacity: .1}

  .o0-l {opacity: 0}

}
