.dev > * {box-shadow:inset 0 0 1px #ccc}

.noselect > * {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/*---
 title: Background Styles
 section: Base CSS
  ---

 To set the background-size of an element, you can use either the `cover` or `contain` classes.

 To set the background position of an element, you can use the `bgp-*` classes, where `*` is either `c`, `t`, `r`, `b`, `l`, for `center center`, `top center`, `center right`, `bottom center`, and `center left`, respectively.
 */
.cover   {background-size:   cover !important}
.contain {background-size: contain !important}

.bgp-c {background-repeat: no-repeat; background-position: center center}
.bgp-t {background-repeat: no-repeat; background-position: top center}
.bgp-r {background-repeat: no-repeat; background-position: center right}
.bgp-b {background-repeat: no-repeat; background-position: bottom center}
.bgp-l {background-repeat: no-repeat; background-position: center left}

/*---
 title: Overflow Styles
 section: Base CSS
  ---

 To designate how overflow is to be handled, you can use the `o*`, `ox*`, and `oy*` classes, where `*` is either `a`, `v`, `h`, or `s`, for `auto`, `visible`, `hidden`, or `scroll`, respectively.

 There are responsive versions of these classes available.
 ```html
 <div class="sh7 oys-m oyh-s">
     <div class="sh7">This div is just as tall as it's parent</div>
     <div class="sh7">This div is also, so you had to scroll to get here, but couldn't when the viewport is small.</div>
 </div>
 ```
 */
.oa  {overflow: auto}      .oxa {overflow-x: auto}
.oya {overflow-y: auto}    .ov  {overflow: visible}
.oxv {overflow-x: visible} .oyv {overflow-y: visible}
.oh  {overflow: hidden}    .oxh {overflow-x: hidden}
.oyh {overflow-y: hidden}  .os  {overflow: scroll}
.oxs {overflow-x: scroll}  .oys {overflow-y: scroll}

/*---
 title: Centering
 section: Layout
  ---

 To center `div`s (or any element that is set to `display: block`), you can apply the `cn` class.

 There are responsive versions of this class.

 ```html
 <div class="sh5 sw5 pt3 bg-blu">
    <div class="sh3 sw3 bg-ylw cn p2"></div>
 </div>
 ```
 */
.cn {margin-left: auto; margin-right: auto}

/*---
 title: Vertical Alignment
 section: Base CSS
  ---

 Use `vl`, `vm`, `vt`, and `vb` to set the `vertical-align` property of an element to either `baseline`, `middle`, `top`, or `bottom`, respectively.

 There are responsive versions of these classes.

 ```html
 <table>
    <tr class="sh6">
        <td class="vl">a baseline aligned item</td>
        <td class="vm">a middle aligned item</td>
        <td class="vt">a top aligned item</td>
        <td class="vb">and a bottom aligned item</td>
    </tr>
</table>
 ```
 */
.vl {vertical-align: baseline} .vm {vertical-align: middle}
.vt {vertical-align: top}      .vb {vertical-align: bottom}

/*---
 title: Row-line-style Tables
 section: Base CSS
  ---

 You can style a table to only have borders at the row lines with the `rl` class. Currently, you also have to specify that the table have no borders too.

 ```html
 <table class="bn rl">
    <thead>
        <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
    </tbody>
 ```
 */
.rl thead tr:last-of-type,
.rl tbody tr {
  border: 0;
  border-bottom: .125em solid #ddd;
}

@media screen and (max-width: 30em) {

  .cover-s   {background-size: cover   !important}
  .contain-s {background-size: contain !important}

  .bgp-c-s {background-repeat: no-repeat; background-position: center center}
  .bgp-t-s {background-repeat: no-repeat; background-position: top center}
  .bgp-r-s {background-repeat: no-repeat; background-position: center right}
  .bgp-b-s {background-repeat: no-repeat; background-position: bottom center}
  .bgp-l-s {background-repeat: no-repeat; background-position: center left}

  .oa-s  {overflow: auto}      .oxa-s {overflow-x: auto}
  .oya-s {overflow-y: auto}    .ov-s  {overflow: visible}
  .oxv-s {overflow-x: visible} .oyv-s {overflow-y: visible}
  .oh-s  {overflow: hidden}    .oxh-s {overflow-x: hidden}
  .oyh-s {overflow-y: hidden}  .os-s  {overflow: scroll}
  .oxs-s {overflow-x: scroll}  .oys-s {overflow-y: scroll}

  .cn-s {margin-left: auto; margin-right: auto}

  .vl-s {vertical-align: baseline} .vm-s {vertical-align: middle}
  .vt-s {vertical-align: top}      .vb-s {vertical-align: bottom}

}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .cover-m   {background-size: cover   !important}
  .contain-m {background-size: contain !important}

  .bgp-c-m {background-repeat: no-repeat; background-position: center center}
  .bgp-t-m {background-repeat: no-repeat; background-position: top center}
  .bgp-r-m {background-repeat: no-repeat; background-position: center right}
  .bgp-b-m {background-repeat: no-repeat; background-position: bottom center}
  .bgp-l-m {background-repeat: no-repeat; background-position: center left}

  .oa-m  {overflow: auto}      .oxa-m {overflow-x: auto}
  .oya-m {overflow-y: auto}    .ov-m  {overflow: visible}
  .oxv-m {overflow-x: visible} .oyv-m {overflow-y: visible}
  .oh-m  {overflow: hidden}    .oxh-m {overflow-x: hidden}
  .oyh-m {overflow-y: hidden}  .os-m  {overflow: scroll}
  .oxs-m {overflow-x: scroll}  .oys-m {overflow-y: scroll}

  .cn-m {margin-left: auto; margin-right: auto}

  .vl-m {vertical-align: baseline} .vm-m {vertical-align: middle}
  .vt-m {vertical-align: top}      .vb-m {vertical-align: bottom}

}

@media screen and (min-width: 60em) {

  .cover-l   {background-size: cover   !important}
  .contain-l {background-size: contain !important}

  .bgp-c-l {background-repeat: no-repeat; background-position: center center}
  .bgp-t-l {background-repeat: no-repeat; background-position: top center}
  .bgp-r-l {background-repeat: no-repeat; background-position: center right}
  .bgp-b-l {background-repeat: no-repeat; background-position: bottom center}
  .bgp-l-l {background-repeat: no-repeat; background-position: center left}

  .oa-l  {overflow: auto}      .oxa-l {overflow-x: auto}
  .oya-l {overflow-y: auto}    .ov-l  {overflow: visible}
  .oxv-l {overflow-x: visible} .oyv-l {overflow-y: visible}
  .oh-l  {overflow: hidden}    .oxh-l {overflow-x: hidden}
  .oyh-l {overflow-y: hidden}  .os-l  {overflow: scroll}
  .oxs-l {overflow-x: scroll}  .oys-l {overflow-y: scroll}

  .cn-l {margin-left: auto;margin-right: auto}

  .vl-l {vertical-align: baseline} .vm-l {vertical-align: middle}
  .vt-l {vertical-align: top}      .vb-l {vertical-align: bottom}

}
