/*

  Macian

  Josh Avanier
  MIT

*/

input:focus,
textarea:focus,
select:focus {
  /*outline: 1px solid #222;*/
}

.rn {resize: none}

.an {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:invalid,
input:invalid::-webkit-input-placeholder {
  color: #EB4E32;
}

.disabled,
:disabled {
  opacity: 0.618;
  cursor: not-allowed;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: 0;
}

button:hover,
input[type="button"]:hover {
  cursor: pointer;
}

progress,
progress::-webkit-progress-bar {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1618) inset;
}

meter,
meter::-webkit-meter-bar {
  background: none;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1618) inset;
  -moz-appearance: none;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #83BD75;
}

progress::-webkit-progress-value {
  background-color: #83BD75;
}
