/*

  Macian.colour

  Josh Avanier
  MIT

*/

.noir  {color: #202020}
.blanc {color: #f8f8f8!important}

.a1 {color: #161616}

.red {color: #EB4E32 !important}
.ylw {color: #FFD954 !important}
.grn {color: #83BD75 !important}
.blu {color: #2E76C3 !important}

.bg-noir  {background-color: #202020}
.bg-blanc {background-color: #f8f8f8}

.bg-blk {background-color: #000}
.bg-111 {background-color: #161616}

.bg-red {background-color: #EB4E32}
.bg-ylw {background-color: #FFD954}
.bg-grn {background-color: #83BD75}
.bg-blu {background-color: #2E76C3}

.bg-cl {background-color: transparent !important}

.b-blanc {border-color: #f8f8f8 !important}
.b-noir  {border-color: #202020 !important}

progress.red::-webkit-progress-value,
meter.red::-webkit-meter-optimum-value,
progress.bg-red::-webkit-progress-bar,
meter.bg-red::-webkit-meter-bar {
	background-color: #EB4E32
}

progress.ylw::-webkit-progress-value,
meter.ylw::-webkit-meter-optimum-value,
progress.bg-ylw::-webkit-progress-bar,
meter.bg-ylw::-webkit-meter-bar {
	background-color: #FFD954
}

progress.grn::-webkit-progress-value,
meter.grn::-webkit-meter-optimum-value,
progress.bg-grn::-webkit-progress-bar,
meter.bg-grn::-webkit-meter-bar {
	background-color: #83BD75
}

progress.blu::-webkit-progress-value,
meter.blu::-webkit-meter-optimum-value,
progress.bg-blu::-webkit-progress-bar,
meter.bg-blu::-webkit-meter-bar {
	background-color: #2E76C3
}

progress.noir::-webkit-progress-value,
meter.noir::-webkit-meter-optimum-value,
progress.bg-noir::-webkit-progress-bar,
meter.bg-noir::-webkit-meter-bar {
	background-color: #202020
}
