/*---
 title: Fonts
 section: Typography
  ---

 You can designate serif, sans-serif, or mono fonts with the `srf`, `sns`, and `mon` classes respectively.

 ```html
 <p class="srf">Serif font family</p>
 <p class="sns">Sans Serif font family</p>
 <p class="mon">Mono font family</p>
 ```
 */
.srf {font-family: "Times New Roman", "Georgia", serif}
.sns {font-family: "Inter UI", "Helvetica", "Arial", sans-serif}
.mon {font-family: "Roboto Mono", monospace}

/*---
 title: Font Size
 section: Typography
  ---

 Specify the sixe of your font with the `f*` class where `*` is a number 1-6. These sizes naturally correspond to the inherant sizes of their respective heading tags (`<h1>` === `.f1` etc.).

 There are responsive versions of these classes.

 ```html
 <p class="f1">The Brown Fox Jumped Lazily Over the Log</p>
 <p class="f2">The Brown Fox Jumped Lazily Over the Log</p>
 <p class="f3">The Brown Fox Jumped Lazily Over the Log</p>
 <p class="f4">The Brown Fox Jumped Lazily Over the Log</p>
 <p class="f5">The Brown Fox Jumped Lazily Over the Log</p>
 <p class="f6">The Brown Fox Jumped Lazily Over the Log</p>
 ```
 */
.f1, h1 {font-size: 2.6179em} .f2, h2 {font-size: 2.0581em}
.f3, h3 {font-size:  1.618em} .f4, h4 {font-size:  1.272em}
.f5, h5 {font-size:      1em} .f6, h6 {font-size:  .7862em}

/*---
 title: Line Height
 section: Typography
  ---

 Specify the line height for your text with (in increasing height) `lhs`, `lht`, `lhc`, and `lhd`.

 There are responsive versions of these classes.

 ```html
    <p class="lhs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat culpa, expedita quibusdam esse, sunt et eius, nesciunt beatae asperiores laudantium tempore iusto fugit reprehenderit nihil, eligendi commodi unde. Cum, similique.</p>
    <hr>
    <p class="lht">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat culpa, expedita quibusdam esse, sunt et eius, nesciunt beatae asperiores laudantium tempore iusto fugit reprehenderit nihil, eligendi commodi unde. Cum, similique.</p>
    <hr>
    <p class="lhc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat culpa, expedita quibusdam esse, sunt et eius, nesciunt beatae asperiores laudantium tempore iusto fugit reprehenderit nihil, eligendi commodi unde. Cum, similique.</p>
    <hr>
    <p class="lhd">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat culpa, expedita quibusdam esse, sunt et eius, nesciunt beatae asperiores laudantium tempore iusto fugit reprehenderit nihil, eligendi commodi unde. Cum, similique.</p>
 ```
 */
.lhs {line-height:     1em} .lht {line-height: 1.272em}
.lhc {line-height: 1.618em} .lhd {line-height:     2em}

/*---
 title: Font Weight
 section: Typography
  ---

 Specify normal `font-weight` with `fwn` and `bold` with `fwb`.

 You can also specify numeric font weights with the `fw*` classes, where `*` is a number from 1-9.

 There are responsive versions of these classes.

 ```html
 <span class="fwb-m fwn-s">Bold on medium screens, normal on small screens</span>
 <span class="fw9-m fw1-s">Bold on medium screens, normal on small screens</span>

 ```
 */
.fwn {font-weight: normal} .fwb {font-weight: bold}

.fw1 {font-weight: 100} .fw2 {font-weight: 200} .fw3 {font-weight: 300}
.fw4 {font-weight: 400} .fw5 {font-weight: 500} .fw6 {font-weight: 600}
.fw7 {font-weight: 700} .fw8 {font-weight: 800} .fw9 {font-weight: 900}

/*---
 title: Font Styles
 section: Typography
  ---

 Set the `font-style` to `normal` with `fn`, `italic` with `fi`, and to `oblique` with `fo`.

 ```html
 <span class="fi">Italic</span>
 <span class="fo">Oblique</span>
 ```
 */
.fn {font-style: normal} .fi {font-style: italic} .fo {font-style: oblique}

/*---
 title: Font Variants
 section: Typography
  ---

 Set the `font-variant` to `small-caps` with `sc`.

 ```html
 <span class="sc">small caps</span>
 ```
 */
.sc {font-variant: small-caps}

/*---
 title: Text Alignment
 section: Typography
  ---

 Designate the `text-align` property with `aj` for `justify`, `al` for `left`, `ar` for `right`, and `ac` for `center`.

 There are responsive versions of these classes.

 ```html
 <p class="aj">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <hr>
 <p class="ar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <hr>
 <p class="ac">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 ```
 */
.aj {text-align: justify; hyphens: auto}
.al {text-align: left}
.ar {text-align: right}
.ac {text-align: center}

/*---
 title: Text Transforms
 section: Typography
  ---

 You can apply `text-transform` properties with `cap` for `captialize`, `upc` for `uppercase`, and `lwc` for `lowercase`.

 ```html
 <span class="cap">captialize</span>
 <span class="upc">uppercase</span>
 <span class="lwc">LOWERCASE</span>
 ```
 */
.cap {text-transform: capitalize}
.upc {text-transform: uppercase}
.lwc {text-transform: lowercase}

/*---
 title: Letter Spacing
 section: Typography
  ---

 Letter spacing can be set with the `tk`, `tkt`, and `tkm` classes.

 There are responsive versions of these classes.

 ```html
 <span class="tk">Lorem Ipsum</span>
 <span class="tkt">Lorem Ipsum</span>
 <span class="tkm">Lorem Ipsum</span>
 ```
 */
.tk  {letter-spacing:   .1em}
.tkt {letter-spacing: -.05em}
.tkm {letter-spacing:  .25em}

/*---
 title: Text Decorations
 section: Typography
  ---

 Apply `strikethrough`, `underline` or `overline` `text-decoration` properties with `ts`, `tu`, or `to`.

 Apply an underline on `hover` with the `hvl` class, or remove text decoration on hover via `hvn`;

 ```html
 <span class="ts">Lorem Ipsum</span>
 <span class="tu">Lorem Ipsum</span>
 <span class="to">Lorem Ipsum</span>
 <span class="hvl">Lorem Ipsum</span>
 <span class="ts hvn">Lorem Ipsum</span>
 ```
 */
.ts {text-decoration: line-through}
.tu {text-decoration: underline}
.to {text-decoration: overline}
.hvl:hover {text-decoration: underline}
.hvn:hover {text-decoration: none !important}

/*---
 title: Paragraph Optimum Widths
 section: Typography
  ---

 You can set the optimum width for a paragraph via the `m` class. A slightly wider variant is the `mw` class, and a slightly thinner variant of this is the `mn` class.

 There are responsive versions of these classes.

 ```html
 <p class="m">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <hr>
 <p class="mw">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <hr>
 <p class="mn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 ```
 */
.m {max-width: 30em} .mw {max-width: 34em} .mn {max-width: 20em}

/* TODO: flesh this out; these are useless as is */
.col-2,.col-3,.col-4 {
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1
}

/*---
 title: List Styles
 section: Base CSS
  ---

By default, `ul` and `ol` lists have the `list-style-position` set to `inside`, but you can explicitely set this via the `lspi` class.

You can designate the list style type with the `ls*` classes, where `*` is one of

- `z` for `decimal-leading-zero`
- `ur` for `upper-roman`
- `lr` for `lower-roman`
- `ua` for 'upper-alpha'
- `la` for `lower-alpha`
- `c` for `circle`
- `s` for `square`
- `n` for `none`

```html
 <ul class="lsz">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lsur">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lslr">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lsua">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lsla">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lsc">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lss">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
 <ul class="lsn">
    <li>lorem</li>
    <li>ipsum</li>
    <li>dolor</li>
 </ul>
```
 */
ul, ol, .lspi {list-style-position: inside}
.lsz  {list-style-type: decimal-leading-zero}
.lsur {list-style-type: upper-roman}
.lslr {list-style-type: lower-roman}
.lsua {list-style-type: upper-alpha}
.lsla {list-style-type: lower-alpha}
.lsc  {list-style-type: circle}
.lss  {list-style-type: square}
.lsn  {list-style: none}

@media screen and (max-width: 30em) {

  .f1-s {font-size: 2.6179em} .f2-s {font-size: 2.0581em}
  .f3-s {font-size:  1.618em} .f4-s {font-size:  1.272em}
  .f5-s {font-size:      1em} .f6-s {font-size:  .7862em}

  .lhs-s {line-height:   1em} .lht-s {line-height: 1.25em}
  .lhc-s {line-height: 1.5em} .lhd-s {line-height:    2em}

  .fwn-s {font-weight: normal} .fwb-s {font-weight: bold}

  .fw1-s {font-weight: 100} .fw2-s {font-weight: 200} .fw3-s {font-weight: 300}
  .fw4-s {font-weight: 400} .fw5-s {font-weight: 500} .fw6-s {font-weight: 600}
  .fw7-s {font-weight: 700} .fw8-s {font-weight: 800} .fw9-s {font-weight: 900}

  .aj-s {text-align: justify; hyphens: auto}
  .ac-s {text-align: center}
  .ar-s {text-align: right}
  .al-s {text-align: left}

  .tk-s  {letter-spacing:   .1em}
  .tkt-s {letter-spacing: -.05em}
  .tkm-s {letter-spacing:  .25em}

  .m-s  {max-width: 30em}
  .mw-s {max-width: 34em}
  .mn-s {max-width: 20em}

}

@media screen and (min-width: 30em) and (max-width: 60em) {

  .f1-m {font-size: 2.6179em} .f2-m {font-size: 2.0581em}
  .f3-m {font-size:  1.618em} .f4-m {font-size:  1.272em}
  .f5-m {font-size:      1em} .f6-m {font-size:  .7862em}

  .lhs-m {line-height:   1em} .lht-m {line-height: 1.25em}
  .lhc-m {line-height: 1.5em} .lhd-m {line-height:    2em}

  .fwn-m {font-weight: normal} .fwb-m {font-weight: bold}

  .fw1-m {font-weight: 100} .fw2-m {font-weight: 200} .fw3-m {font-weight: 300}
  .fw4-m {font-weight: 400} .fw5-m {font-weight: 500} .fw6-m {font-weight: 600}
  .fw7-m {font-weight: 700} .fw8-m {font-weight: 800} .fw9-m {font-weight: 900}

  .aj-m {text-align: justify; hyphens: auto}
  .ac-m {text-align: center}
  .ar-m {text-align: right}
  .al-m {text-align: left}

  .tk-m  {letter-spacing:   .1em}
  .tkt-m {letter-spacing: -.05em}
  .tkm-m {letter-spacing:  .25em}

  .m-m {max-width: 30em} .mw-m {max-width: 34em} .mn-m {max-width: 20em}

  .col-2-m,.col-3-m,.col-4-m {
    -webkit-column-gap: 1.5em;
       -moz-column-gap: 1.5em;
            column-gap: 1.5em
  }

  .col-2-m {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2
  }

  .col-3-m {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3
  }

  .col-4-m {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4
  }

}

@media screen and (min-width: 60em) {

  .f1-l {font-size: 2.6179em} .f2-l {font-size: 2.0581em}
  .f3-l {font-size:  1.618em} .f4-l {font-size:  1.272em}
  .f5-l {font-size:      1em} .f6-l {font-size:  .7862em}

  .lhs-l {line-height:   1em} .lht-l {line-height: 1.25em}
  .lhc-l {line-height: 1.5em} .lhd-l {line-height:    2em}

  .fwn-s {font-weight: normal} .fwb-s {font-weight: bold}

  .fw1-l {font-weight: 100} .fw2-l {font-weight: 200} .fw3-l {font-weight: 300}
  .fw4-l {font-weight: 400} .fw5-l {font-weight: 500} .fw6-l {font-weight: 600}
  .fw7-l {font-weight: 700} .fw8-l {font-weight: 800} .fw9-l {font-weight: 900}

  .aj-l {text-align: justify; hyphens: auto}
  .ac-l {text-align: center}
  .ar-l {text-align: right}
  .al-l {text-align: left}

  .tk-l  {letter-spacing:   .1em}
  .tkt-l {letter-spacing: -.05em}
  .tkm-l {letter-spacing:  .25em}

  .m-l {max-width: 30em} .mw-l {max-width: 34em} .mn-l {max-width: 20em}

  .col-2,.col-3,.col-4 {
    -webkit-column-gap: 1.5em;
       -moz-column-gap: 1.5em;
            column-gap: 1.5em
  }

  .col-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2
  }

  .col-3 {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3
  }

  .col-4 {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4
  }

}
