/*

  Macian.base

  Josh Avanier
  MIT

*/

/**{box-shadow:inset 0 0 1px #ccc}*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box
}

html {
	height: 100%;
	width: 100%
}

body {
	background-color: #f8f8f8;
	color: #202020;
	font: 16px/1.618em "Roboto", sans-serif;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%
}

::-webkit-scrollbar-track {
  background-color: #202020;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
}

::-webkit-scrollbar {
  background-color: #202020;
  width: 4px
}

::-webkit-scrollbar-thumb { background-color: #222 }

img, video {max-width: 100%}

table {
	width: 100%;
	border-collapse: collapse;
	overflow-x: auto
}

th,
td {
	padding: 7px;
	border: 1px solid #202020
}

.rl thead tr:last-of-type,
.rl tbody tr {
	border: 0;
	border-bottom: 1px solid #ddd
}

nav ul, nav ol, .menu {list-style: none}
nav ul li, nav ol li, .menu li {display: inline-block}
