/*---
 title: Shadows
 section: Base CSS
  ---

 Box shadow styles can be set with the `bs*` classes.

 Box shadows can be set for indivisual sides by setting `*` to `t`, `b`, `r`, or `l`. They can be set on all sides via `bsa`, or set to none via `bsn`.

 Inset shadows can be set with the `bsi*` classes, where `*` is one of the side-letters specified above.

 Both the `bs` and `bsi` classes can be appended with `lr` or `tb` to put the shadows on the horizontal or vertical sides.

 Responsive versions of all the classes can be set by appending `-s`, `-m` or `-l`.

 ```html
 <p class="bsa">This paragraph has a box shadow applied on all sides.</p>
 <p class="bsia">This paragraph has an inset box shadow on all sides.</p>
 <p class="bslr bsitb">This paragraph has a box shadow on the horizontal, and inset shadow on the vertical.</p>
 <p class="bst-s bsib-s bsr-m bsil-m bsb-l bsit-l">This paragraph has different shadows depending on the size of the screen.</p>
 ```
 */
.bsn  {box-shadow:  0 !important}
.bst  {box-shadow:  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
.bsr  {box-shadow:  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
.bsb  {box-shadow:  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
.bsl  {box-shadow: -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
.bsa  {box-shadow:  0   0    8px      rgba(0, 0, 0, 0.2)}

.bsit {box-shadow: inset  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
.bsir {box-shadow: inset -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
.bsib {box-shadow: inset  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
.bsil {box-shadow: inset  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
.bsia {box-shadow: inset  0   0    8px      rgba(0, 0, 0, 0.2)}

.bslr {
  box-shadow: 8px 0 12px -8px rgba(0, 0, 0, 0.2),
             -8px 0 12px -8px rgba(0, 0, 0, 0.2)
}

.bstb {
  box-shadow: 0 -8px 12px -8px rgba(0, 0, 0, 0.2),
              0  8px 12px -8px rgba(0, 0, 0, 0.2)
}

.bsilr {
  box-shadow: inset  8px 0 12px -8px rgba(0, 0, 0, 0.2),
              inset -8px 0 12px -8px rgba(0, 0, 0, 0.2)
}

.bsitb {
  box-shadow: inset 0  8px 12px -8px rgba(0, 0, 0, 0.2),
              inset 0 -8px 12px -8px rgba(0, 0, 0, 0.2)
}

@media screen and (max-width: 30em) {

    .bsn-s  {box-shadow:  0 !important}
    .bst-s  {box-shadow:  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsr-s  {box-shadow:  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsb-s  {box-shadow:  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsl-s  {box-shadow: -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsa-s  {box-shadow:  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bsit-s {box-shadow: inset  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsir-s {box-shadow: inset -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsib-s {box-shadow: inset  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsil-s {box-shadow: inset  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsia-s {box-shadow: inset  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bslr-s {
      box-shadow: 8px 0 12px -8px rgba(0, 0, 0, 0.2),
                 -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bstb-s {
      box-shadow: 0 -8px 12px -8px rgba(0, 0, 0, 0.2),
                  0  8px 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsilr-s {
      box-shadow: inset  8px 0 12px -8px rgba(0, 0, 0, 0.2),
                  inset -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsitb-s {
      box-shadow: inset 0  8px 12px -8px rgba(0, 0, 0, 0.2),
                  inset 0 -8px 12px -8px rgba(0, 0, 0, 0.2)
    }

}

@media screen and (min-width: 30em) and (max-width: 60em) {

    .bsn-m  {box-shadow:  0 !important}
    .bst-m  {box-shadow:  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsr-m  {box-shadow:  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsb-m  {box-shadow:  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsl-m  {box-shadow: -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsa-m  {box-shadow:  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bsit-m {box-shadow: inset  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsir-m {box-shadow: inset -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsib-m {box-shadow: inset  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsil-m {box-shadow: inset  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsia-m {box-shadow: inset  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bslr-m {
      box-shadow: 8px 0 12px -8px rgba(0, 0, 0, 0.2),
                 -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bstb-m {
      box-shadow: 0 -8px 12px -8px rgba(0, 0, 0, 0.2),
                  0  8px 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsilr-m {
      box-shadow: inset  8px 0 12px -8px rgba(0, 0, 0, 0.2),
                  inset -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsitb-m {
      box-shadow: inset 0  8px 12px -8px rgba(0, 0, 0, 0.2),
                  inset 0 -8px 12px -8px rgba(0, 0, 0, 0.2)
    }

}

@media screen and (min-width: 60em) {

    .bsn-l  {box-shadow:  0 !important}
    .bst-l  {box-shadow:  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsr-l  {box-shadow:  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsb-l  {box-shadow:  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsl-l  {box-shadow: -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsa-l  {box-shadow:  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bsit-l {box-shadow: inset  0   8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsir-l {box-shadow: inset -8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsib-l {box-shadow: inset  0  -8px 12px -8px rgba(0, 0, 0, 0.2)}
    .bsil-l {box-shadow: inset  8px 0   12px -8px rgba(0, 0, 0, 0.2)}
    .bsia-l {box-shadow: inset  0   0    8px      rgba(0, 0, 0, 0.2)}

    .bslr-l {
      box-shadow: 8px 0 12px -8px rgba(0, 0, 0, 0.2),
                 -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bstb-l {
      box-shadow: 0 -8px 12px -8px rgba(0, 0, 0, 0.2),
                  0  8px 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsilr-l {
      box-shadow: inset  8px 0 12px -8px rgba(0, 0, 0, 0.2),
                  inset -8px 0 12px -8px rgba(0, 0, 0, 0.2)
    }

    .bsitb-l {
      box-shadow: inset 0  8px 12px -8px rgba(0, 0, 0, 0.2),
                  inset 0 -8px 12px -8px rgba(0, 0, 0, 0.2)
    }

}
